.editSec{    
    height: fit-content;
    min-height: 300px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;    
}
.choose>button{    
    margin: 10px;
    font-size: 100px;
    padding: 50px;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgba(71, 102, 0, 0.3);
    cursor: pointer;
}
.choose>button:hover{
    background-color: rgba(71, 102, 0, 0.5);
}
.workSpace{
    width: 100%;
    max-width: 1000px;
    height: 70vh;    
    background-color: white;
    margin: 50px auto;    
    box-shadow: 0px 0px 20px 2px gray;  
    position: relative;  
    transition: all;   
    transition: .3s;
}
#closeIcon{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
    cursor: pointer;
}
.workSpace>form, .workSpace>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 20px;
    width: 100%;  
    height: 100%;  
    display: flex;
    flex-direction: column;    
}
.workSpace>form>input, .workSpace>div>input{
    width: 100%;   
    font-size: 20px; 
    padding: 10px;
    outline: none;
    border: none;
}
.workSpace>form>textarea{
    width: 100%; 
    height: inherit; 
    font-size: 15px;  
    padding: 10px;
    outline: none;
    border: none;
}
#addBtn{
    margin-top: 20px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px; 
    background-color: rgb(173, 173, 173);
    align-self: flex-end;
}
#addBtn:hover{
    background-color: gray;
}
.showSpace{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.showCard{
    padding: 10px;
}
.hidden{
    display: none;
}
#canvas1{
    display: block;
    width: auto;
    height: auto;
    border: 2px solid gray;
    margin-top: 10px;
}