@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    /* border: 1px solid red; */
}
#root{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.edit-prev{
    flex: 80%;
    display: flex;    
}